*{
	margin:0;
	padding:0;
}
body
{
	background-color:white;
}
#header
{
	background-color:#3b5998;
	height:85px;
}
#head-cont.l.ll
{
	width:px;
} 
#head-cont img
{
	height:78px;
	margin-left:120px;
	float:left;
	margin-top: 7px;
}
#login
{
	float:right;
	margin-top:13px;
}
#login table
{
	color:white;
	font-family:arial;
	font-size:12px;
}
#login table td
{
	padding-left:8px;
	padding-bottom:2px;
}
#login table td a
{
	text-decoration:none;
	color:lightblue;
}
#login table input[type=text],input[type=password]
{
	width:140px;
	padding:2px;

}
#login table input[type=button]
{
	background-color:#4F71B3;
	border:1px solid black;
	padding:2px 5px;
	color:white;


}
.main
{
	height: 600px;
	background: linear-gradient(white,white,#D3D8E8,#D3D8E8);
}
.sub
{
	width:1100px;
	height:600px;
	margin-left:98px;
}
.subleft
{
	width:550px;
	
	float:left;
}
.sub .hdng
{
	width:450px;
	font-family:arial;
	font-size:14px;
	margin-left:45px;
	margin-top:15px;
}
.fbimg
{
	margin-left: 35px;
	margin-top: 12px;
}
.sub .subright
{
	width:500px;
	height:600px;
	margin-left:600px;
}
.subright h1
{
	font-family:arial;
	margin-top: 30px;
	margin-left: 38px;
	margin-bottom: 10px;
}
.subright p
{
	font-family:arial;
	font-size:18px;
	margin-left: 40px;
	margin-top: 4px;
	margin-bottom: 10px;
}
.subright input
{
	margin-left: 38px;
	padding:10px 12px;
	border-radius:5px;
	border:1px solid silver;
	margin-bottom: 6px;  
	font-weight:bold;
	font-size:15px;
}
.fandlname
{
	width:411px;
	margin-left: 36px;
}
.fandlname input
{
	margin-left: 2px;
	width:190px;
}
.mob input
{
	width:411px;
}
.bday
{
   margin-left: 42px;	
   display: inline-block;
}
.bday select
{
   border:1px solid silver;
   margin:-4px;
   margin-right:4px;
   padding:4px 5px;
   float:left;
}
.bday a
{
	text-decoration: none;
	font-size:12px;
	margin-left: 5px;
	float:right;
    margin-top:-5px;
}
.radio
{
	margin:5px;
	font-size: 20px;
	margin-left:-30px;
}
.radioo{

	font-style:arial;
}
.policy p
{
	font-size:11px;
}
.button
{
	width:0.000001px;
	height:36px;
    left:20%;
}
.button input
{
	background:linear-gradient(#68A968,#4C843A);
	padding:9px px;
	color:white;
	border:1px solid black;
}
.button:hover input
{
	background:linear-gradient(green,#79BC64);
	
}
.text p
{
	font-size:15px;
}